.column-secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.padding-finans{
    padding-bottom: 55px;
}

.padding-conteudo{
    padding-top: 25px;
}


#finansspan{
    color: #3273dc;
}